/* My-Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #ffffff;
}

section {
    padding: 70px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow', sans-serif;
}

h1 {
    font-size: 80px;
    font-weight: 900;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 38px;
    font-weight: 800;
}

h4 {
    font-size: 28px;
    font-weight: 800;
}

h5 {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 15px;
}

h6 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    line-height: 27px;
    margin: 30px 0;
}

a {
    text-decoration: none;
}

.comon-btn {
    display: inline-block;
    width: 180px;
    padding: 15px 0;
    background: #232324;
    border: 2px solid #232324;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s;
}

.comon-btn:hover {
    background: #0080ff;
    border: 2px solid #0080ff;
}

/* NAVBAR */
.nav_head {
    background: #fff;
}

.navbar-brand img {
    width: 70px;
}

.nav-lists {
    display: flex;
    justify-content: center;
    gap: 220px;
}

.navbar ul li {
    padding: 0 15px;
}

.navbar ul li a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.navbar ul li a:hover {
    color: #0080ff;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #0080ff;
}

/* BANNER */
.banner-bg {
    background: url(../image/office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
    color: #fff;
}

.round-btn {
    border-radius: 50px;
}

/* ABOUT-SEC */
.about_sec {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.about_sec .heading {
    padding-left: 60px;
    max-width: 600px;
    margin-top: 50px;
}

.about_sec .heading h2 {
    margin-bottom: 50px;
}

.about_sec .heading h2 span {
    border-bottom: 5px solid #000;
    padding-bottom: 10px;
}

/* SERVICES */
.service_sec .heading {
    text-align: center;
}

.service_sec .heading h4 span {
    border-bottom: 5px solid #000;
    padding-bottom: 15px;
}

.serv-btn {
    border-radius: 0;
    width: 100%;
}

.service-item {
    position: relative;
}

.serv-cont {
    position: absolute;
    top: 45px;
    text-align: center;
    color: #fff;
}

.serv-cont h6 {
    margin: 15px;
}

.serv-cont p {
    margin: 0;
}

/* WORKS */
.works_sec {
    padding: 0;
}

.works_sec .heading {
    text-align: center;
    margin-bottom: 60px;
}

.works_sec .heading h4 span {
    border-bottom: 5px solid #000;
    padding-bottom: 15px;
}

.work-btn {
    text-align: center;
    margin-top: 30px;
}

.white-btn {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    border-radius: 50px;
    margin-top: 30px;
}

.white-btn:hover {
    background: #0080ff;
    border: 2px solid #0080ff;
    box-shadow: 0px 2px 10px 5px #97B1BF;
    color: #ffffff;
}

/* JOURNAL */
.journal_sec .heading {
    text-align: center;
}

.journal_sec .heading h4 span {
    border-bottom: 5px solid #000;
    padding-bottom: 15px;
}

.journal_sec .journ-content h6 {
    padding-top: 25px;
}

.journal_sec .journ-content span {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.journal_sec .journ-content .fa-circle {
    font-size: 5px;
    padding: 5px;
}

.journal-btn {
    display: flex;
    justify-content: space-between;
}

.journ-btn {
    border-radius: 0;
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    width: 195px;
}

.journ-btn:hover {
    background: #0080ff;
    border: 2px solid #0080ff;
    box-shadow: 0px 2px 10px 5px #97B1BF;
    color: #ffffff;
}

.share-btn {
    border-radius: 10px;
    background-color: #a4a4a4;
    border: 2px solid #a4a4a4;
    color: #ffffff;
    width: 70px;
}

/* CONTACT */
.contact_sec {
    background-image: linear-gradient(to Right, rgb(0, 128, 255), aqua);
}

.contact_sec .heading {
    color: #fff;
}

.contact_sec .heading h4 span {
    border-bottom: 3px solid #ffffff;
    padding-bottom: 15px;
}

/* FOOTER */
footer {
    background: #262626;
    padding: 50px 0;
}

footer .foot-content {
    color: #fff;
}

footer .foot-content ul {
    list-style-type: none;
    padding: 0;
}

.foot-content .icons {
    display: flex;
    gap: 35px;
}

.foot-adress {
    display: flex;
    gap: 45px;
    padding: 10px 0;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #626262;
}

.foot-others {
    display: flex;
    gap: 45px;
}

.foot-others ul li {
    padding: 10px 0;
}

.mail-box {
    padding: 12px 0;
    width: 100%;
    text-align: center;
    background: none;
    border: 1px solid #fff;
}

.subs-btn {
    background: #0080ff;
    border: 2px solid #0080ff;
    border-radius: 0;
    color: #fff;
    width: 100%;
    margin: 15px 0;
}

.subs-btn:hover {
    background: #ffffff00;
    border: 2px solid #0080ff;
    border-radius: 0;
    color: #fff;
    width: 100%;
    margin: 15px 0;
}

/* END-SEC */
.end_sec {
    background: #232324;
    padding: 15px 0;
    color: #fff;
    text-align: center;
}

.end_sec span {
    font-size: 14px;
    font-weight: 500;
}

/* INNER-BANNER */
.inner_bg {
    background: url(../image/innner-banner.jpg);
    padding: 60px 0;
    color: #fff;
}

.inner_bg .heading {
    text-align: center;
}

/* CONACT-US */
.contact-form-sec {
    position: relative;
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../image/contact-us.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-header {
    margin-bottom: 50px;
    text-align: center;
}

.section-header h2 {
    color: #FFF;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
}

.section-header p {
    color: #FFF;
}
.contact-info-content a {
    color: #FFF;
}
.contact-info-content a:hover {
    color: #848484;
}
.contact-info {
    width: 50%;
}

.contact-info-item {
    display: flex;
    margin-bottom: 30px;
}

.contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
}

.contact-info-icon i {
    font-size: 30px;
    line-height: 70px;
}

.contact-info-content {
    margin-left: 20px;
}

.contact-info-content h4 {
    color: #0080ff;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.contact-info-content p {
    color: #FFF;
    font-size: 1em;
}

.contact-form {
    background-color: #fff;
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.contact-form h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus~span,
.contact-form .input-box textarea:focus~span {
    color: #0080ff;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
    width: 100%;
    background: #0080ff;
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #0080ff;
    transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
    background: #FFF;
    color: #0080ff;
}

@media (max-width: 991px) {
    .contact-form-sec {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .contact-info {
        margin-bottom: 40px;
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(32 33 36);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 134, 134);
}
